.irish-grover-regular {
   font-family: "Irish Grover", system-ui;
   font-weight: 400;
   font-style: normal;
}

.parkinsans {
   font-family: "Parkinsans", sans-serif;
   font-optical-sizing: auto;
   font-weight: weight;
   font-style: normal;
 }

* {

    margin: 0;
    padding: 0;
 
 }

 body {
    margin: 25px 50px;
    background-color: peachpuff;
 
 }
 
 nav a {
    color: black;
    text-transform: uppercase;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
 }

 .center {
   margin: 0 auto;
   width: 200px;
   display: flex;
   justify-content: center;
}
 
 .responsive {
    width: 50%;
    height: auto;
 }
 
 h1 {
   font-family: "Irish Grover", system-ui;
    font-size: 70px;
    letter-spacing: .1em;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(193, 126, 0);
 
    text-align: center;
 
    text-transform: uppercase;
 }
 
   h1 a {
    color: seagreen;
 }
 
 
 h2 {
   font-family: "Parkinsans", sans-serif;
   font-size: 35px;
   letter-spacing: .1em;
   margin-left: 15px;
   margin-right: 15px;
   margin-top: 10px;
   margin-bottom: 10px;
   color: brown;

   text-align: center;

   text-transform: uppercase;
 }
h3 {
 color: black;
   text-transform: uppercase;
    font-family: "Atma", system-ui;
    font-weight: 300;
    font-style: normal;
}
 
 p {
   color: black;
   font-family: "Parkinsans", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.5rem;
    padding: 1rem;
 }


 li {
 
    color: white;
    font-family: "Josefin Sans", system-ui;
    padding: 10px;
    text-decoration: none
 }
 
 a {
   font-family: "Josefin Sans", system-ui;
   padding: 10px;
    font-size: 18px;
    text-decoration: none;
   color: #FFC341;
 
 }
 
 nav a {
   color: black;
   text-transform: uppercase;
    font-weight: 300;
    font-style: normal;
}
 
 li {
    font-size: 10px;
    text-decoration: none;
    font-family: "Josefin Sans", system-ui;
    color: #88E032;
 }
 
 ul a {
    color: #88E032;
 }
 
 .social-links {
    text-align: center;
 }
 
 footer {
    text-align: center;
 }

 .colored-box {
   display: flex;
   align-items: center;
   background-color: white; /* Light blue background */
   border-radius: 50px;
   padding: 200px;
   max-height: 50px; 
 }
 
.container {
   display: flex;
   align-items: center;
   justify-content: center
}


.box-image {
 width: 500px;
}
 
 
.box-text {
   font-size: 20px;
   padding-left: 20px;
}

.box-text h2 {
margin: 0 0 8px 0;
font-size: 2em;
}

.box-text p {
margin: 0;
font-size: 1em;
color: #333;
}

